@page
@model ProyectoCiclo3.App.Frontend.Pages.FormAeropuertosModel
@{
}

<div class="text-center">
    <form method="POST">
        <label for="id" class="form-label">id:</label>
        <input type="number" class="form-control" required placeholder="id" asp-for="Aeropuerto.id">

        <label for="nombre" class="form-label">nombre:</label>
        <input type="text" class="form-control"  required placeholder="Nombre" asp-for="Aeropuerto.nombre">

        <label for="ciudad" class="form-label">ciudad:</label>
        <input type="text" class="form-control"  required placeholder="Ciudad" asp-for="Aeropuerto.ciudad">

        <label for="pais" class="form-label">pais:</label>
        <input type="text" class="form-control"  required placeholder="Pais" asp-for="Aeropuerto.pais">

        <label for="coord_x" class="form-label">coord_x:</label>
        <input type="number" class="form-control"  required placeholder="Coord X" asp-for="Aeropuerto.coord_x">

        <label for="coord_y" class="form-label">coord_y:</label>
        <input type="number" class="form-control" required placeholder="Coord Y" asp-for="Aeropuerto.coord_y">
        <hr>
        <button type="submit" class="btn btn-success">Enviar</button>
    </form>
</div>