@page
@model ProyectoCiclo3.App.Frontend.Pages.FormAvionesModel
@{
}

<div class="text-center">
    <form method="POST">
        <label for="id" class="form-label">id:</label>
        <input type="number" class="form-control" id="id" name="id" required placeholder="id">
       
        <label for="marca" class="form-label">marca:</label>
        <input type="text" class="form-control" id="marca" name="marca" required placeholder="marca">
        
        <label for="modelo" class="form-label">modelo:</label>
        <input type="text" class="form-control" id="modelo" name="modelo" required placeholder="modelo">

        <label for="asientos" class="form-label">asientos:</label>
        <input type="number" class="form-control" id="asientos" name="asientos" required placeholder="asientos">

        <label for="banos" class="form-label">baños:</label>
        <input type="number" class="form-control" id="banos" name="banos" required placeholder="banos">

        <label for="peso" class="form-label">peso:</label>
        <input type="number" class="form-control" id="peso" name="peso" required placeholder="peso">
        <hr>
        <button type="submit" class="btn btn-success">Enviar</button>
    </form>
</div>

       
       