@page
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">marca</th>
      <th scope="col">modelo</th>
      <th scope="col">asientos</th>
      <th scope="col">baños</th>
      <th scope="col">peso</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Airbus</td>
      <td>Airbus A220</td>
      <td>140</td>
      <td>3</td>
      <td>50.349</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Airbus</td>
      <td>Airbus A321</td>
      <td>240</td>
      <td>4</td>
      <td>48.500</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Embraer</td>
      <td>Embraer 190</td>
      <td>100</td>
      <td>2</td>
      <td>45.000</td>
    </tr>
  </tbody>
</table>